name: GH-Page

on:
  push:
    tags:
      - '*'

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger GitHub pages rebuild
        run: |
          echo "Repository: $REPOSITORY"
          curl --fail \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: token $REFRESH_TOKEN" https://api.github.com/repos/${{ github.repository }}/pages/builds
        env:
          REPOSITORY: ${{ github.repository }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
